*{
    transition: all 0.2s ease-in-out;
}

#contactContainer{
    font-family: 'Hind';
    
}

.contactContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    margin-top: 100px;

}

.heading1{
    color: #1E1F26;
    font-size: 30px;
}
/* .container{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

button{
    margin-top: 80px;
    
}
input{
    height: 30px;    
    width: 90%;
    margin: auto;
    padding-left: 20px;

} */



button:hover{
    
    
    color: #1E1F26;
}
.container{
    font-size: 13px;
    display: inline-block;
    box-shadow: 0px 0px 30px #00000054;  
    
    border: 1px solid rgba(3, 28, 58, 0.199);
   
    /* margin: 335px 318px; */
    margin-top: 80px;
    height: 750px;
    width: 510px;
    color: rgb(0, 0, 0);
    top: 400px;
    right: 100px;
    border-radius: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    background-color: rgba(0, 0, 0, 0.959);
    margin-bottom: 100px;
   
    
    
}
.formgroup{
    padding-top: 30px;
    margin-top: 20px;
    display: block;
    width: 500px;
    height: 681px;
    margin: 100px 100px;
    padding: 10px 10px;
    color: rgb(1, 1, 1);
  
   margin: 0px 0px;
}
input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    width: 400px;
    padding: 13px 34px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    color: #1E1F26;
    border: 1px solid rgba(224, 219, 219, 0.959);
    outline: none;

}
input:hover{
    transform: scale(1.03);
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#submitbtn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
   
    
}
#submitbtn:hover{
    background-color: #283655c4 ;
    color: white;
    transform: scale(1.05s);
    box-shadow: 0px 0px 20px #283655e1 ;
}
h3{
    color: rgb(1, 1, 1);
    padding: 0px 0px;
    display: inline-block;
    margin: 0px 0px;
}


.container:hover{
   
    box-shadow: 0px 0px 40px #9f9fa0c4;    
}

#myshop{
    color: #000000;
    text-shadow: 0px 1px 2px #171818e3;
    padding-left: 3px;
    padding-right: 3px;
}

 
#messageInput{
    text-align: left;
    

    height: 100px;
}

#nameGroup{
 
    
    display: flex;
    align-items: left;
    align-content: left;
    flex-direction: row;
}

#nameGroup input{
    width: 140px;
    font-size: smaller;
    
}
#nameGroup div p{
    text-align: left;
}
#nameGroup div{
    padding-left: 20px;
}



*{
    transition: all 1s ease-in-out;
}

#contactContainer{
    font-family: 'Hind';
    
}

.contactContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    margin-top: 100px;

}

.heading1{
    color: #0a0a0a;
    font-size: 30px;
}
/* .container{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

button{
    margin-top: 80px;
    
}
input{
    height: 30px;    
    width: 90%;
    margin: auto;
    padding-left: 20px;

} */



button:hover{
    
    
    color: #ec6200;
}
.container{
    font-size: 13px;
    display: inline-block;
    box-shadow: 0px 0px 30px #00000054;  
    
    border: 1px solid rgba(3, 28, 58, 0.199);
   
    /* margin: 335px 318px; */
    margin-top: 80px;
    height: 750px;
    width: 510px;
    color: rgb(0, 0, 0);
    top: 400px;
    right: 100px;
    border-radius: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    background-color: rgba(255, 255, 255, 0.959);
    margin-bottom: 100px;
   
    
    
}
.formgroup{
    padding-top: 30px;
    margin-top: 20px;
    display: block;
    width: 500px;
    height: 681px;
    margin: 100px 100px;
    padding: 10px 10px;
    color: white;
  
   margin: 0px 0px;
}
input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
    width: 400px;
    padding: 13px 34px;
    border-radius: 20px;
    background-color: rgb(228, 226, 226);
    color: #1E1F26;
    border: 1px solid rgba(224, 219, 219, 0.959);
    outline: none;

}
input:hover{
    transform: scale(1.03);
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
#submitbtn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
   
    
}
#submitbtn:hover{
    background-color: #f64307c4 ;
    color: rgb(255, 251, 251);
    transform: scale(1.05s);
    box-shadow: 0px 0px 20px #283655e1 ;
}
h3{
    color: rgb(0, 0, 0);
    padding: 0px 0px;
    display: inline-block;
    margin: 0px 0px;
}


.container:hover{
   
    box-shadow: 0px 0px 40px #1c1c1cc4;    
}

#myshop{
    color: #111010;
    text-shadow: 0px 1px 2px #171818e3;
    padding-left: 3px;
    padding-right: 3px;
}

 
#messageInput{
    text-align: left;
    

    height: 100px;
}

#nameGroup{
 
    
    display: flex;
    align-items: left;
    align-content: left;
    flex-direction: row;
}

#nameGroup input{
    width: 140px;
    font-size: smaller;
    
}
#nameGroup div p{
    text-align: left;
}
#nameGroup div{
    padding-left: 20px;
}



